.section-title {
    display: block;
    min-width: 200px;
    color: #1611F2;
}
.bg {
    margin: 0 150px;
    display: flex;
    flex-direction: row;
}
.background-content {
    display: block;
    width: 50vw;
}
@media screen and (min-width: 100px) {
    .background-content {
        width: 30%;
    }
}