.button {
    border: solid #1611F2 1px;
    padding: 5px;
    background-color: rgb(243, 251, 251);
    color: #1611F2;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
}